@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

#app {
  max-width: 450px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  overflow: hidden;
}

#view {
  width: 100%;
  padding: 35px;
  text-align: left;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  font-size: 4rem;
}

#buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  padding: 20px;
}

button {
  font-weight: bold;
  font-size: 2rem;
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50px;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
